:root {
    --main-color: #00BBF2;
    --primary-text-color: #fff;
    --secondary-text-color: #191919;
    --tertiary-text-color:#9e9b9b;
    --secondary-color: #868686;
    --tertiary-color: #2f2fb4;
    --secondary-bg-color: #000000;

}

* {                          /* reset para zerar as propriedades das paginas html */    
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
    box-sizing: border-box;    /**/   /* borda da caixa */    
}

a {
    text-decoration: none;
}

img {
    width: 100%;

}

i {
    background-color: var(--main-color);
    color: var(--primary-text-color);
    font-size: 1rem;
    padding: 1rem;
}


/* main */

#main {
    background-color: var(--secondary-bg-color);
    width: 100%;
    height: 90vh;
    position: relative;
}

#main .overlay-image {
    background-image: url("../image/hrz-5.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Define a opacidade da imagem */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#main .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 30%;
    z-index: 1; /* Garante que o conteúdo fique acima da imagem */
    padding: 2rem;
    color: var(--primary-text-color);
}

#indecor{
    flex: 1;
    padding-top: 12rem;
    padding-left: 10.4rem;

}

#indecor .title{
    text-align:left;
    color: var(--main-color);
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

#indecor .subtitle {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align:left;
    font-weight: bold;
    width: 250px;
    padding-bottom: 2rem;
}

#indecor .dataevento{
    padding-bottom: 0.2rem;

}

#indecor .data{
    text-align:left;
    color: var(--main-color);
    font-size: 0.9rem;
    padding-bottom: 2rem;
    font-weight: bold;

}



#formulario{
    flex: 1;
    padding-top: 6rem;
    padding-left: 4rem;
   
   
}

#formulario form{
    width: 400px;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    padding: 2rem;
   
}

#formulario .form-control{
    width: 100%;
  
  
}
#formulario .form-control .title{
    font-size: 1.2rem;
    font-weight:normal;
}
#formulario #form{
    width: 100%;
    border-color:transparent ;
    padding: 1rem 0.2rem 0.1rem 0.2rem ;
    border-radius: 4px;
}
#formulario #opcoes{
    width: 100%;
    padding: 1rem 0.2rem 0.1rem 0.2rem ;
    border-color:transparent ;
    border-radius: 4px;
}

.form-control p{
    padding-top: 1rem;
}

#formulario .btn{
    margin-top: 0.5rem;
    width: 100%;
    align-self: start;
    background-color: var(--main-color);
    border: 0;
    color: var(--primary-text-color);
    padding: 0.6rem 3rem 0.6rem 3rem;
    font-size: 0.7rem;
    transition: 0.5s;
}

#formulario .btn:hover{
    background-color: var(--tertiary-color);
    color: white;
}



/* sessão 2 */
#aprender1{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0rem 2rem;
    background-color: var(--secondary-color);
    font-size: 0.9rem;


}
#aprender{
    display:flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 12rem;
    justify-content: space-around;
    margin:auto;
    gap:1rem;  
}

#aprender .foto{
    flex: 1 1 30%;
    
}

.foto img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.foto p{
    width: 300px;
    padding-right: 4.5rem;
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-color);
}

/*  Sessão 3 */

#black-box {
    background-color: var(--secondary-bg-color);
    width: 100%;
    height: 45vh;
    position: relative;
}

.overlay-image {
    background-image: url("../image/hrz-1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Define a opacidade da imagem */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique acima da imagem */
    padding: 5rem 2rem;
}

.local{
   
    display: flex;
}

.local2{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 6rem;
    gap: 1rem;
    text-align: center;
}

.local2 i{
    background-color: transparent;
    font-size: 3rem;
    color: var(--main-color);
    padding: 1rem
}

.local2 p {
    color: var(--primary-text-color); 
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.local3{
   
    color: var(--primary-text-color);
    margin: 0;
    padding-top: 4rem;
    padding-right: 7rem;
    padding-bottom: 1rem;
    padding-left: 1rem; 
}

.local3 h2{
    text-align:left;
    color: rgb(0, 187, 242);
    font-size: 2rem;
    padding-bottom: 2rem;
  
}

.local3 p{
    margin: 0;
    padding: 0rem;
    font-size: 0.9rem;
    width: 500px;
    text-align:left;
}

.endereco p{
    margin: 0;
    padding:0;
}


/* sessao 4 - Promo */
/* Nesta sessão foi usado display flex, dividindo a sessão em dois lados (esquerdo e direito) */
#promo{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 1rem;
    /* Centraliza horizontalmente */
    margin-top: 60px;
    
}

/* lado esquerdo */
#promo .lado-esquerdo{
    flex: 1;
    margin-top: 1px;
    margin-right: 1px;
    
}

#promo .lado-esquerdo img{
    width: 100%;

}

/* lado direito */
#promo .lado-direito{
    flex: 1;
    margin-top: 1px;
    margin-left: 1px;
    
    
}

#promo .lado-direito img{
    width: 100%;
    

}



#promo .lado-direito .a h2{
    font-size: 3rem;  
    padding-left: 5rem;
    padding-right: 4rem;
}

#promo .lado-direito .b{
    padding-left: 3rem;
}

#promo .a .b{
    margin-top: 0.1rem;
    padding-left: 3rem;
}
.b h3{
    font-size: 2rem;
}
ul {
    margin-top: 1px;
    padding-top: 1rem;
    list-style-type: disc; /* Define o tipo de marcador */
    padding-left: 20px; /* Adiciona um pouco de espaço antes dos itens */
}

ul .bold{
    font-weight: bold;

}

li {
    margin-bottom: 5px; /* Adiciona um pouco de espaço entre os itens */
}

/* sessão 5 */

#contact {
    background-color: var(--secondary-bg-color);
    width: 100%;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 60px;
}
    

#contact .overlay-image {
    background-image: url("../image/hrz-6.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Define a opacidade da imagem */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#contact #contact-information {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique acima da imagem */
   
    color: var(--primary-text-color);
    
    
}

#contact-information .inscreva {
    margin: auto;
    justify-content: center;
    text-align: center;
}

#contact-information .inscreva .gostou{
    padding-bottom: 2rem;
}


#contact-information .btn{
    justify-content: center;
    align-self: start;
    border: 0px solid var(--main-color);
    background-color: var(--main-color);
    padding: 1rem 6rem 1rem 6rem;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

#contact-information .btn:hover{
    background-color: var(--tertiary-color);
    color: var(--primary-text-color);
}


footer{
  
 
    background-color:  var(--primary-text-color);;
    color: var(--tertiary-text-color);
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem 4rem 1rem ;

}

footer h2{
    font-size: 2rem;
    padding-bottom: 1rem;
}
footer h3{
    font-size: 1.3rem;
    font-weight: normal;
    padding-bottom: 1rem;
}

footer p{
    font-size: 1rem;
    padding: 0.2rem;
    
}

footer .negrito{
    font-weight: bold;
}

#creditos{
    display:flex;
    gap: 2rem;
    background-color:var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-size: 0.6rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 3rem 0.5rem 3rem;

}

#creditos h2{
    font-size: 0.6rem;
    padding: 2rem;
}

/* fim */

@media (max-width:450px){
    body{
        /* esconder o scrool lateral se sobrar a direita */
        overflow-x: hidden;  
        max-width: 100%;
        flex: 1 1 100%;
        flex-direction: column;
    }
    #main{
        max-width: 100%;
        height: 100%;

    }
    .overlay-image{
        max-width: 100%;
        height: 100%;
    }
   .content{
       flex-direction: column;
       width: 100%;
       
   }
   #indecor{
       flex-direction: column;
       max-width:100%;
       padding: 12rem 0 2rem 3rem;
       
   }
   #formulario{
       flex-direction: column;
       max-width:100%;
       padding:0;
   }
   form{
       max-width: 100%;
       padding: 0;
   }
   #formulario .form-control{
       flex-direction: column;
       width: 100%;;
      
   }
   #formulario .form-control .btn{
    font-size: 0.8rem;
    
   
}
   #aprender1{
    max-width: 100%;
   }
   #aprender{
    max-width: 100%;
    padding: 2rem;
   }
   #aprender .foto{
    width: 100%;
    padding: 2rem;
    margin: 2rem;
   }
   #black-box{
    max-width: 100%;
    height: 100%;
   }
   #black-box .overlay-image{
    max-width: 100%;
    height: 100%;
   }
   #black-box .content{
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
   
   }
   #black-box .local{
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
   }
   #black-box .local2{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 0;
   
   }
   #black-box .local2 .endereco{
    font-size: 1.5rem;
   }
   #black-box .local3{
     max-width: 100%;
     
  
   }
   #black-box .local3 h2{
       width: 150%;
       font-size: 1.5rem;
       
        
   }
   #black-box .local3 p{
    width: 150%;
     font-size: 1rem;
   }
   #promo{
    width: 100%;
    padding: 2rem 0 3rem 0;
    margin: 0;
    flex-direction: column;
    
   }
   #promo .lado-direito img{
    width: 100%;  
    justify-content: center;
    align-items: center; 
   }
   #promo .lado-esquerdo img{
    width: 100%;  
    justify-content: center;
    align-items: center; 
   }
   #promo .lado-direito .a h2{
    font-size: 1.4rem;
    width: 100%;
    padding: 2rem ;
   }
   #contact-information{
    width: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
   }
   .btn{
    width: 100%;
    font-size: 2rem;
    text-align: center;
   }
   #creditos{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
    padding: 1rem;
   }
 

}

/* ---------- FIM  ---------- */
